---
import { string } from 'astro/zod';
import type { CallToAction } from '../../types';
import { Icon } from 'astro-icon/components';

export interface Props {
  title?: string;
  description?: string;
  content?: string;
  actions?: string | CallToAction[];

  block1icon?: string;
  block1title?: string;
  block1description?: string;

  block2icon?: string;
  block2title?: string;
  block2description?: string;

  block3icon?: string;
  block3title?: string;
  block3description?: string;
}

const {
  title = await Astro.slots.render('title'),
  description = await Astro.slots.render('description'),
  content = await Astro.slots.render('content'),
  actions = await Astro.slots.render('actions'),

  block1icon = await Astro.slots.render('block1icon'),
  block1title = await Astro.slots.render('block1title'),
  block1description = await Astro.slots.render('block1description'),

  block2icon = await Astro.slots.render('block2icon'),
  block2title = await Astro.slots.render('block2title'),
  block2description = await Astro.slots.render('block2description'),

  block3icon = await Astro.slots.render('block3icon'),
  block3title = await Astro.slots.render('block3title'),
  block3description = await Astro.slots.render('block3description'),
} = Astro.props;
---


    <!-- Block start -->
    <section class="">
        <!-- Icon Blocks -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="max-w-2xl mx-auto">
      <!-- Grid -->
      <div class="grid gap-12">
        <div>
          <h2 class="text-center text-3xl text-gray-800 font-bold lg:text-4xl dark:text-white">
            <Fragment set:html={title} />
          </h2>
          <p class="mt-3 text-gray-800 dark:text-gray-400">
            <Fragment set:html={description} />
          </p>
        </div>
  
        <div class="space-y-6 lg:space-y-10">
          <!-- Icon Block -->
          <div class="flex">
            <i class="fa-brands fa-youtube flex-shrink-0 mt-1 text-[30px] text-gray-800 dark:text-primary"></i>
            <div class="ms-5 sm:ms-8">
              <h3 class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200">
                <Fragment set:html={block1title} />
              </h3>
              <p class="mt-1 text-gray-600 dark:text-gray-400">
                <Fragment set:html={block1description} />
              </p>
            </div>
          </div>
          <!-- End Icon Block -->
  
          <!-- Icon Block -->
          <div class="flex">
            <i class="fa-solid fa-car-side flex-shrink-0 mt-1 text-[30px] text-gray-800 dark:text-primary"></i>
            <div class="ms-5 sm:ms-8">
              <h3 class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200">
                <Fragment set:html={block2title} />
              </h3>
              <p class="mt-1 text-gray-600 dark:text-gray-400">
                <Fragment set:html={block2description} />
              </p>
            </div>
          </div>
          <!-- End Icon Block -->
  
          <!-- Icon Block -->
          <div class="flex">
            <i class="fa-solid fa-wrench flex-shrink-0 mt-1 text-[30px] text-gray-800 dark:text-primary"></i>
            <div class="ms-5 sm:ms-8">
              <h3 class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200">
                <Fragment set:html={block3title} />
              </h3>
              <p class="mt-1 text-gray-600 dark:text-gray-400">
                <Fragment set:html={block3description} />
              </p>
            </div>
          </div>
          <!-- End Icon Block -->
        </div>
      </div>
      <!-- End Grid -->
    </div>
  </div>
  <!-- End Icon Blocks -->
    </section>
    <!-- Block end -->