---
import type { CallToAction } from '../../types';
import {Prepr} from '../../lib/prepr.js';
import GetArticles from '../../queries/get-articles.js';

const response = await Prepr(GetArticles)
const { data } = await response.json()
const articles = data.Articles

export interface Props {
  title?: string;
  subtitle?: string;
  actions?: string | CallToAction[];
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  actions = await Astro.slots.render('actions'),
} = Astro.props;

---


<section class="">
    <!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white"><Fragment set:html={title} /></h2>
      <p class="mt-1 text-gray-600 dark:text-gray-400"><Fragment set:html={subtitle} /></p>
    </div>
    <!-- End Title -->
  
    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">

      {
        articles.items.map((post) => (
        <!-- Card -->
      <a href={`/blog/${post._slug}`} class="group flex flex-col h-full border border-gray-200 hover:border-transparent hover:shadow-lg transition-all duration-300 rounded-xl p-5 dark:border-gray-700 dark:hover:border-transparent dark:hover:shadow-black/[.4] dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
        <div class="my-6">
          <h3 class="text-xl font-semibold text-gray-800 dark:text-primary dark:group-hover:text-white">
            {post.title}
          </h3>
          <p class="mt-5 text-gray-600 dark:text-gray-400">
            <div set:html={post.excerpt}></div>
          </p>
        </div>
        <div class="mt-auto flex items-center gap-x-3">
          <img class="size-8 rounded-full" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Image Description">
          <div>
            <h5 class="text-sm text-gray-800 dark:text-gray-200">By Lauren Waller</h5>
          </div>
        </div>
      </a>
      <!-- End Card -->
        ))
      }


  </div>
  <!-- End Card Blog -->
</section>